In [59]:
import pandas as pd
from datetime import datetime
import datetime as dt
import numpy as np

In [30]:
df = pd.read_excel("Dataset.xlsx")

In [31]:
df.head()

,Date,Spread,Mcap,P/B,P/E,Close,Volatility,30y_yield,AA Yield
0,28/10/22,1.17,32.365M,3.9334,18.8887,3901.06,27.85,4.1414,5.24
1,21/10/22,1.18,31.21M,3.7839,18.1706,3752.75,29.19,4.3335,5.23
2,14/10/22,1.15,29.805M,3.6128,17.3490,3583.07,27.99,3.9916,5.06
3,07/10/22,1.13,30.271M,3.6682,17.6230,3639.66,26.09,3.8417,4.85
4,30/09/22,1.15,29.80M,3.6231,17.2963,3585.62,23.94,3.7759,4.85

In [40]:
df['Date'] = pd.to_datetime(df["Date"], dayfirst = True)

In [41]:
copy_df = df.copy()

In [42]:
copy_df.set_index('Date', inplace = True)

In [43]:
ff = pd.read_csv("FF.csv")

In [44]:
ff['Date'] = pd.to_datetime(ff['Date'])

In [45]:
ff.set_index('Date', inplace = True)

In [46]:
ff_copy_df = copy_df.copy()

In [47]:
ff_copy_df = ff_copy_df.join(ff)

In [48]:
ff_copy_df['hml'].isna().sum()

71

In [49]:
from pathlib import Path

In [50]:
filepath = Path("merge.csv")

In [51]:
ff_copy_df.to_csv(filepath)

In [56]:
ff_copy = pd.read_csv("FF.csv")

In [57]:
ff_copy['Date'] = pd.to_datetime(ff_copy['Date'])

In [60]:
data = []
for index, row in ff_copy.iterrows():
    today = row[0]
    friday = today + dt.timedelta( (4-today.weekday()) % 7 )
    data.append(friday)

In [69]:
ff_copy['Date'] = pd.to_datetime(data)

In [71]:
ff_copy.set_index('Date', inplace = True)

In [76]:
ff_df = copy_df.copy()

In [80]:
ff_df = ff_df.join(ff_copy)

In [81]:
ff_df

,Spread,Mcap,P/B,P/E,Close,Volatility,30y_yield,AA Yield,Mkt_rf,smb,hml,rf
Date,,,,,,,,,,,,
1990-01-05,0.97,NaN,NaN,15.1200,352.20,11.92,8.0560,8.89,-0.23,1.25,-0.76,0.141
1990-01-12,0.95,NaN,NaN,14.6600,339.93,14.44,8.1710,8.92,-3.56,0.51,0.61,0.141
1990-01-19,0.95,NaN,NaN,14.2400,339.15,14.67,8.2700,8.98,-0.47,-0.28,-0.19,0.141
1990-01-26,0.95,NaN,NaN,13.9400,325.80,16.41,8.5220,9.05,-4.21,-0.25,0.82,0.141
1990-02-02,0.95,1.734M,2.0013,13.8364,330.92,16.93,8.5100,9.15,1.22,-1.74,-0.07,0.142
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,1.18,31.21M,3.7839,18.1706,3752.75,29.19,4.3335,5.23,NaN,NaN,NaN,NaN
2022-10-28,1.17,32.365M,3.9334,18.8887,3901.06,27.85,4.1414,5.24,NaN,NaN,NaN,NaN
2022-11-04,NaN,31.234M,3.7974,18.2299,3770.55,27.96,4.2463,NaN,NaN,NaN,NaN,NaN
2022-11-09,NaN,31.046M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-10,NaN,NaN,3.9377,18.8967,3909.32,29.54,4.1168,NaN,NaN,NaN,NaN,NaN

In [108]:
divs = pd.read_csv("divs.csv")

In [109]:
divs.head()

         Date  Yield
0  11-10-2022   1.69
1  11-04-2022   1.75
2  10/28/2022   1.68
3  10/21/2022   1.75
4  10/14/2022   1.83

In [110]:
divs['Date'] = pd.to_datetime(divs['Date'])

In [111]:
divs.head()

        Date  Yield
0 2022-11-10   1.69
1 2022-11-04   1.75
2 2022-10-28   1.68
3 2022-10-21   1.75
4 2022-10-14   1.83

In [112]:
pre = pd.read_csv("pre.csv")

In [113]:
pre['Date'] = pd.to_datetime(pre['Date'], dayfirst = True)

In [93]:
divs.set_index('Date', inplace = True)

In [95]:
pre.set_index('Date', inplace = True)

In [103]:
merged_divs = divs.append(pre)

/tmp/ipykernel_5303/3417817609.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_divs = divs.append(pre)

In [97]:
len(divs)

890

In [136]:
ff_div_df = ff_df.join(merged_divs)

In [115]:
merged_df = divs.append(pre)

/tmp/ipykernel_5303/2726112351.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_df = divs.append(pre)

In [116]:
merged_df.head()

        Date  Yield
0 2022-11-10   1.69
1 2022-11-04   1.75
2 2022-10-28   1.68
3 2022-10-21   1.75
4 2022-10-14   1.83

In [117]:
data = []
for index, row in merged_df.iterrows():
    today = row[0]
    friday = today + dt.timedelta( (4-today.weekday()) % 7 )
    data.append(friday)

In [118]:
merged_df['Date'] = data

In [121]:
merged_df.set_index('Date', inplace = True)

In [122]:
ff_df.join(merged_df).Yield.isna().sum()

637

In [125]:
merged_df.sort_index(inplace = True)

In [129]:
import matplotlib.pyplot as plt

In [132]:
len(merged_df)

1080

In [133]:
len(ff_df)

1716

In [137]:
ff_div_df

,Spread,Mcap,P/B,P/E,Close,Volatility,30y_yield,AA Yield,Mkt_rf,smb,hml,rf,Yield
Date,,,,,,,,,,,,,
1990-01-05,0.97,NaN,NaN,15.1200,352.20,11.92,8.0560,8.89,-0.23,1.25,-0.76,0.141,3.17
1990-01-12,0.95,NaN,NaN,14.6600,339.93,14.44,8.1710,8.92,-3.56,0.51,0.61,0.141,NaN
1990-01-19,0.95,NaN,NaN,14.2400,339.15,14.67,8.2700,8.98,-0.47,-0.28,-0.19,0.141,NaN
1990-01-26,0.95,NaN,NaN,13.9400,325.80,16.41,8.5220,9.05,-4.21,-0.25,0.82,0.141,NaN
1990-02-02,0.95,1.734M,2.0013,13.8364,330.92,16.93,8.5100,9.15,1.22,-1.74,-0.07,0.142,3.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,1.18,31.21M,3.7839,18.1706,3752.75,29.19,4.3335,5.23,NaN,NaN,NaN,NaN,1.75
2022-10-28,1.17,32.365M,3.9334,18.8887,3901.06,27.85,4.1414,5.24,NaN,NaN,NaN,NaN,1.68
2022-11-04,NaN,31.234M,3.7974,18.2299,3770.55,27.96,4.2463,NaN,NaN,NaN,NaN,NaN,1.75
2022-11-09,NaN,31.046M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-10,NaN,NaN,3.9377,18.8967,3909.32,29.54,4.1168,NaN,NaN,NaN,NaN,NaN,1.69

In [140]:
ylds = pd.read_csv("prediv.csv")

In [141]:
ylds.head()

         Date  Last Px
0  10/21/2022    3.989
1  10/14/2022    3.717
2   10/7/2022    3.356
3   9/30/2022    3.270
4   9/23/2022    3.190

In [142]:
filepath = Path("final.csv")

In [143]:
ff_div_df.to_csv(filepath)

In [145]:
ylds['Date'] = pd.to_datetime(ylds['Date'])

In [147]:
ylds.set_index('Date', inplace = True)

In [149]:
ylds.rename(columns = {'Last Px':'3m'}, inplace = True)

In [153]:
ff_div_df = ff_div_df.join(ylds)

In [155]:
ff_div_df.to_csv(filepath)

In [156]:
inflation = pd.read_csv("prediv.csv")

In [159]:
inflation['Date'] = pd.to_datetime(inflation['Date'])

In [160]:
data = []
for index, row in inflation.iterrows():
    today = row[0]
    friday = today + dt.timedelta( (4-today.weekday()) % 7 )
    data.append(friday)

In [163]:
inflation.set_index('Date', inplace = True)

In [165]:
inflation.head()

            Inflation
Date
2022-11-04        7.7
2022-09-30        8.2
2022-09-02        8.3
2022-08-05        8.5
2022-07-01        9.1

In [161]:
len(inflation)

406

In [162]:
inflation['Date'] = data

In [167]:
final = ff_div_df.join(inflation)

In [172]:
final

,Spread,Mcap,P/B,P/E,Close,Volatility,30y_yield,AA Yield,Mkt_rf,smb,hml,rf,Yield,3m,Inflation
Date,,,,,,,,,,,,,,,
1990-01-05,0.97,NaN,NaN,15.1200,352.20,11.92,8.0560,8.89,-0.23,1.25,-0.76,0.141,3.17,NaN,4.6
1990-01-12,0.95,NaN,NaN,14.6600,339.93,14.44,8.1710,8.92,-3.56,0.51,0.61,0.141,NaN,NaN,NaN
1990-01-19,0.95,NaN,NaN,14.2400,339.15,14.67,8.2700,8.98,-0.47,-0.28,-0.19,0.141,NaN,NaN,NaN
1990-01-26,0.95,NaN,NaN,13.9400,325.80,16.41,8.5220,9.05,-4.21,-0.25,0.82,0.141,NaN,NaN,NaN
1990-02-02,0.95,1.734M,2.0013,13.8364,330.92,16.93,8.5100,9.15,1.22,-1.74,-0.07,0.142,3.28,NaN,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,1.18,31.21M,3.7839,18.1706,3752.75,29.19,4.3335,5.23,NaN,NaN,NaN,NaN,1.75,3.989,NaN
2022-10-28,1.17,32.365M,3.9334,18.8887,3901.06,27.85,4.1414,5.24,NaN,NaN,NaN,NaN,1.68,NaN,NaN
2022-11-04,NaN,31.234M,3.7974,18.2299,3770.55,27.96,4.2463,NaN,NaN,NaN,NaN,NaN,1.75,NaN,7.7
2022-11-09,NaN,31.046M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-10,NaN,NaN,3.9377,18.8967,3909.32,29.54,4.1168,NaN,NaN,NaN,NaN,NaN,1.69,NaN,NaN

In [173]:
final.to_csv(filepath)